.body {
    background-image:url(https://static.vecteezy.com/system/resources/previews/003/641/130/non_2x/colorful-pink-blurred-backgrounds-valentine-s-day-pink-background-abstract-gradient-light-pink-illustration-free-vector.jpg);
    background-size: cover;
    background-position: center;
}

.reasons {
    font-family:cursive;
    font-size: medium;
}

.monthslist {
    font-family: monospace;
    font-style:unset;
    font-size: large;
    color: cadetblue;
}

.header {
    font-family:serif;
    font-size:small;
    color: darkslateblue;
}

.youtube {
    color:darkcyan
}

